<body class="aboutPage">
<section class="hero">
    <img class="mainImg mainImg_desktop" src="public/img/about_hero.jpg" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle">
                Granboard
            </p>
            <h1 class="title">
                Przedsiębiorstwo <br>
                z&nbsp;wizją i&nbsp;odpowiedzialnością
            </h1>
        </div>
    </div>
</section>
<section class="strokes">

    <div class="container">
        <h3 class="title">
            Granboard jest wiodącą firmą w europejskim przemyśle produkcyjnym płyt wiórowych. W naszej firmie
            praktykujemy
            naszą filozofię. Nasza Pasja - to pasja do naszej pracy z drewnem.
        </h3>
    </div>
    <img class="shape" src="public/img/about_shape.png" alt="">
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/imgText.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        płyta meblowa na miarę twoich potrzeb
                    </h3>
                    <p class="text">
                        Produkukemy produkty pozyskane z drewna dla dziedzin takie jak: budownictwo, meblach i przemyśle
                        budowlanym, a także posiadają certyfikat środowiskowy FSC®.szalunków betonowych, przemysł
                        opakowaniowy oraz tarcica i wyroby strugane. Zakładane pozostałości materiałów jak np. trociny
                        zmieniają naszego specjalistę w dziedzinie paliw w przewoźnika zrównoważonej zielonej energii.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            Najważneijszy jest klient
        </h3>
        <p class="text">
            Nasza podstawowa zasada podsumowuje nasze rozumienie wartości. W świecie ekonomicznym charakteryzującym się
            dynamiką i zmianami stanowi dla nas jednocześnie kompas i kotwicę. Koncentrujemy się na naszych celach.
            Jednocześnie mamy pewność, że podążamy drogą ciągłości i wytrwałości, bez wpływu na prądy i modę.
        </p>
        <a class="arrow_btn_bg" href="">
            Sprawdź naszą ofertę
        </a>
    </div>
</section>
<div class="servicesSlider">
    <div class="container">
        <h2 class="sectionTitle">Nasze usługi</h2>
        <div class="serviceList">
            <div class="serviceList_item active" data-slide="0">
                <p class="service_name">Oklejanie</p>
                <p class="service_description">
                    Odpowiednie oklejanie
                </p>
            </div>
            <div class="serviceList_item" data-slide="1">
                <p class="service_name">Cięcie</p>
                <p class="service_description">
                    Perfekcja dzięki doświadczeniu
                </p>
            </div>
            <div class="serviceList_item" data-slide="2">
                <p class="service_name">Wiercenie</p>
                <p class="service_description">
                    Precyzyjne wiercenie otworów
                </p>
            </div>
        </div>
    </div>
    <div class="servicesSlider_slides">

        <div class="contentSide">
            <div class="servicesSlider_nav">
                <div class="navLeft"></div>
                <div class="navRight"></div>
            </div>
            <div class="contentSide_slide active" data-slide="0">
                <h3 class="title">
                    Oklejanie
                </h3>
                <p class="text">
                    Wraz z usługą cięcia płyty meblowej oferujemy usługi maszynowego oklejania krawędzi. Obróbka
                    krawędzi wykonywana jest wyłącznie przy użyciu klejenia PU, odpornego na wodę i wysoką temperaturę.
                    Potrzebują Państwo płytę meblową z krawędziami ABS o grubości 0,8 mm, 1 mm lub 2 mm albo krawędziami
                    wykonanymi z prawdziwego drewna.
                </p>
                <a href="" class="arrow_btn">ZOBACZ ZAKRES OFERTY</a>
            </div>
            <div class="contentSide_slide" data-slide="1">
                <h3 class="title">
                    Cięcie
                </h3>
                <p class="text">
                    Wraz z usługą cięcia płyty meblowej oferujemy usługi maszynowego oklejania krawędzi. Obróbka
                    krawędzi wykonywana jest wyłącznie przy użyciu klejenia PU, odpornego na wodę i wysoką temperaturę.
                    Potrzebują Państwo płytę meblową z krawędziami ABS o grubości 0,8 mm, 1 mm lub 2 mm albo krawędziami
                    wykonanymi z prawdziwego drewna.
                    Wraz z usługą cięcia płyty meblowej oferujemy usługi maszynowego oklejania krawędzi. Obróbka
                    krawędzi wykonywana jest wyłącznie przy użyciu klejenia PU, odpornego na wodę i wysoką temperaturę.

                </p>
                <a href="" class="arrow_btn">ZOBACZ ZAKRES OFERTY</a>
            </div>
            <div class="contentSide_slide" data-slide="2">
                <h3 class="title">
                    Wiercenie
                </h3>
                <p class="text">
                    Wraz z usługą cięcia płyty meblowej oferujemy usługi maszynowego oklejania krawędzi. Obróbka
                    krawędzi wykonywana jest wyłącznie przy użyciu klejenia PU, odpornego na wodę i wysoką temperaturę.
                    Potrzebują Państwo płytę meblową z krawędziami ABS o grubości 0,8 mm, 1 mm lub 2 mm albo krawędziami
                    wykonanymi z prawdziwego drewna.
                </p>
                <a href="" class="arrow_btn">ZOBACZ ZAKRES OFERTY</a>
            </div>
        </div>
        <div class="imgSide">
            <img class="imgSide_item active" data-slide="0" src="public/img/servicesSlider/slide_01.png" alt="">
            <img class="imgSide_item" data-slide="1" src="public/img/servicesSlider/slide_01.png" alt="">
            <img class="imgSide_item" data-slide="2" src="public/img/servicesSlider/slide_01.png" alt="">
        </div>
    </div>
</div>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/imgText_2.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        To co nas charakteryzuje, to nasi ludzie
                    </h3>
                    <p class="text">
                        Nasi klienci mówią nam, że ludzie z Grandboard są jednymi z najbardziej doświadczonych, jakich
                        spotkali - ale to nie tylko przypadek. To dlatego, że rekrutujemy najlepszych, nieustannie
                        inwestujemy w ich umiejętności i tworzymy środowisko, w którym pracownicy dążą do rozwoju
                        kariery.
                    </p>
                    <a class="arrow_btn_bg" href="">Zobacz OFERTY PRACY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            Praca w Granboard
        </h3>
        <p class="text">
            Jesteś zainteresowany karierą w Granboard? Przejdź na zakładkę Kariera i sprawdź korzyści wynikające z pracy
            w naszej firmie. Znajdziesz tam również wszystkie aktualne oferty pracy.
        </p>
        <a class="arrow_btn_bg" href="">
            KARIERA W GRANBOARD
        </a>
    </div>
</section>
<script>
    const serviceList = Array.from(document.querySelectorAll('.serviceList_item'));
    const navLeft = document.querySelector('.navLeft');
    const navRight = document.querySelector('.navRight');

    serviceList.forEach(function (item) {
        item.addEventListener('click', function (e) {
            const activeIndex = e.target.closest('.serviceList_item').getAttribute('data-slide');
            set_activeSlide(activeIndex);
        });
    });
    navLeft.addEventListener('click', function () {
        let activeIndex = get_activeIndex();
        activeIndex = activeIndex - 1 < 0 ? 2 : activeIndex - 1;
        set_activeSlide(activeIndex);
    });
    navRight.addEventListener('click', function () {
        let activeIndex = get_activeIndex();
        activeIndex = activeIndex + 1 > 2 ? 0 : activeIndex + 1;
        set_activeSlide(activeIndex);
    });

    function get_activeIndex() {
        const slider = get_slideData();

        let activeIndex = -1;
        slider.forEach(function (el, index) {
            if (el.active)
                activeIndex = index;
        });
        return activeIndex;

    }

    function get_slideData() {
        const slide_list = Array.from(document.querySelectorAll('.serviceList_item'));
        const slide_content = Array.from(document.querySelectorAll('.contentSide_slide'));
        const slide_img = Array.from(document.querySelectorAll('.imgSide_item'));
        let data = [];
        slide_list.forEach(function (el, index) {

            data.push({
                slide_item: el,
                slide_content: slide_content[index],
                slide_img: slide_img[index],
                active: el.classList.contains('active')
            })
        });
        return data;
    }

    function set_activeSlide(activeIndex) {
        let slider = get_slideData();
        activeIndex = parseInt(activeIndex);
        if (!slider[activeIndex].active) {
            slider.forEach(function (el, index) {
                const slide_item = el.slide_item;
                const slide_content = el.slide_content;
                const slide_img = el.slide_img;
                if (index === activeIndex) {
                    slide_item.classList.add('active');
                    slide_content.classList.add('active');
                    slide_img.classList.add('active');
                    slide_img.active = true;
                } else {
                    slide_item.classList.remove('active');
                    slide_content.classList.remove('active');
                    slide_img.classList.remove('active');
                    slide_img.active = false;
                }
            });
        }
    }

</script>
</body>