<body class="contact">
<section class="hero">
    <img class="mainImg mainImg_desktop" src="public/img/products/hero.jpg" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle">
                Kontakt
            </p>
            <h1 class="title">
                Jesteśmy do Twojej dyspozycji
            </h1>
        </div>
    </div>
</section>
<section class="contactInfo">
    <div class="container">
        <div class="title">
            Informacje kontaktowe
        </div>
        <div class="list">
            <div class="adress">
                <div class="icon">
                    <img class="" src="public/img/contact/icon1.svg" alt="">
                </div>
                <div class="content">
                    <p class="subTit">
                        Adres siedziby
                    </p>
                    <div class="tit">
                        ul. Naftowa 1 <br>
                        63-435 Granowiec
                    </div>
                    <div class="description">
                        Główna siedziba naszej firmy znajduje się w Granowiecu w województwie wielkopolskim. Jeśli
                        chcesz Możesz skorzystać z mapy mapa która ułatwi dotarcie do nas.
                    </div>
                    <div class="btn_scroll">
                        zobacz na mapie
                    </div>
                </div>
            </div>
            <div class="teleadress">
                <div class="icon">
                    <img src="public/img/contact/icon2.svg" alt="">
                </div>
                <div class="content">
                    <p class="subTit">
                        Dane teleadresowe
                    </p>
                    <div class="tit">
                        Tel: (+48) 535 820 620 <br>
                        E-mail: biuro@granboard.pl
                    </div>
                    <div class="description">
                        Skontaktuj się za pomocą powyższego numeru telefonu lub adresu e-mail. Możesz też skorzystać z
                        formularza. Członek zespołu będzie dążył do nawiązania kontaktu w ciągu 5 dni roboczych.
                    </div>
                    <div class="btn_scroll">
                        WYPEŁNIJ FORMULARZ
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="map"></section>
<section class="contactForm">
    <div class="container">
        <h3 class="title">
            Napisz do nas
        </h3>
        <form id="form" action="">
            <div class="form_row">
                <div class="formField">
                    <label class="formField_label" for="">Nazwa Firmy</label>
                    <input class="formField_el" type="text">
                </div>
                <div class="formField">
                    <label class="formField_label" for="">E-mail</label>
                    <input class="formField_el" type="text">
                </div>
            </div>
            <div class="form_row">
                <div class="formField">
                    <label class="formField_label" for="">Imię i Nazwisko</label>
                    <input class="formField_el" type="text">
                </div>
                <div class="formField">
                    <label class="formField_label" for="">Numer telefonu</label>
                    <input class="formField_el" type="text">
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full">
                    <label class="formField_label" for="">Wybierz cel kontaktu</label>
                    <select class="formField_el" name="" id="">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full">
                    <label class="formField_label" for="">Treść wiadomości</label>
                    <textarea class="formField_el" name="" cols="30" rows="50"></textarea>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_agree">
                    <label class="agreeInput" for=""></label>
                    <label class="formField_label" for="">
                        Wyrażam zgodę na wykorzystanie moich danych osobowych przez firmę GranBoard Sp. z o.o.
                        (Administrator danych) w celu udzielenia mi dodatkowych informacji handlowych oraz informacji
                        związanych z zakresem działalności firmy. Podanie danych jest dobrowolne umożliwia uzyskanie w/w
                        informacji. Więcej informacji dotyczących przetwarzania danych znajdą Państwo w naszej polityce
                        prywatności.
                    </label>
                    <input type="checkbox" hidden>
                </div>
            </div>
            <button class="submitBTN">Wyślij</button>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer_contact">
            <img src="public/img/logo_dark.png" alt="">
            <div class="content">
                <p>GranBoard Sp. z o.o. </p>
                <p>ul. Naftowa 1, Granowiec 63-435, Poland</p>
                <p>Tel: (+48) 535 820 620</p>
                <p>Pon - Pt: 8:00 - 16:00</p>
            </div>
        </div>
        <div class="footer_pageMap">
            <div class="footer_page">
                <a href="" class="footer_pageMap_title">Produkty</a>
                <a href="" class="footer_pageMap_page">Płyta MDF</a>
                <a href="" class="footer_pageMap_page">Płyta wiórowa</a>
                <a href="" class="footer_pageMap_page">Płyta laminowana</a>
            </div>
            <div class="footer_page">
                <a href="" class="footer_pageMap_title">Produkty</a>
                <a href="" class="footer_pageMap_page">Płyta MDF</a>
                <a href="" class="footer_pageMap_page">Płyta wiórowa</a>
                <a href="" class="footer_pageMap_page">Płyta laminowana</a>
            </div>
            <div class="footer_page">
                <a href="" class="footer_pageMap_title">Produkty</a>
                <a href="" class="footer_pageMap_page">Płyta MDF</a>
                <a href="" class="footer_pageMap_page">Płyta wiórowa</a>
                <a href="" class="footer_pageMap_page">Płyta laminowana</a>
            </div>
            <div class="footer_page">
                <a href="" class="footer_pageMap_title">Produkty</a>
                <a href="" class="footer_pageMap_page">Płyta MDF</a>
                <a href="" class="footer_pageMap_page">Płyta wiórowa</a>
                <a href="" class="footer_pageMap_page">Płyta laminowana</a>
            </div>
        </div>
    </div>
    <div class="containerFull">
        <p>© Copyright 2020 · GranBoard Sp. z o.o. · All rights reserved</p>
        <div class="links">
            <a href="">Polityka prywatności</a>
            <a href="">Cookies</a>
        </div>

    </div>
</footer>
<script>
    const form = document.getElementById('form');

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        let isok = false;
        const fields = Array.from(document.querySelectorAll('.formField_el'));
        fields.forEach(function (item, index) {

            console.log(item);
        });
        return isok;
    });
    const validation = function (field) {
        const validator = field.getAttribute('data-validator');
        switch (validator) {
            case 'text':
                break;
            case 'email':
                break;
            case 'text':
                break;
        }
    }
</script>
<script>
    function initMap() {
        var uluru = {lat: 51.512423, lng: 17.647913};

        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(51.512423, 17.647913),
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "lightness": "74"
                        },
                        {
                            "saturation": "-77"
                        },
                        {
                            "color": "#151f2a"
                        },
                        {
                            "gamma": "3.24"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#151f2a"
                        },
                        {
                            "lightness": "-37"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ],
            mapTypeId: 'terrain'
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var start_point = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: "public/img/contact/marker.svg",
            title: 'Start'
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaTzQxYCHfMP1j-hWCwecDX9ByHxX3kU&callback=initMap"></script>
</body>