<body class="mainPage">
<nav class="navigation">
    <img class="navLogo" src="https://granboard.pl/assets/img/logo.png" alt="">
    <div class="navList">
        <ul id="navihationList" class="navList_pagesList">
            <li class="page">
                <a href="" class="page_link">Grandboard</a>
            </li>
            <li id="page-product" class="page">
                <a href="" class="page_link">
                    PRODUKTY
                </a>

                <div class="nav_productList">
                    <div class="nav_productList_content">
                        <div class="nav_productList_title">
                            Zrównoważone rozwiązania na bazie drewna
                        </div>
                        <div class="nav_product_list">
                            <a class="nav_product_item" data-product="0">Płyta MDF</a>
                            <a class="nav_product_item" data-product="1">Płyta HDF</a>
                            <a class="nav_product_item" data-product="2">Płyta wiórowa</a>
                            <a class="nav_product_item" data-product="3">Płyta laminowana</a>
                        </div>
                    </div>
                    <div class="nav_productList_img">
                        <img class="nav_product_img_item active" data-product="0"
                             src="public/img/products/product_01.png"
                             alt="">
                        <img class="nav_product_img_item" data-product="1" src="public/img/products/product_02.png"
                             alt="">
                        <img class="nav_product_img_item" data-product="2" src="public/img/products/product_03.png"
                             alt="">
                        <img class="nav_product_img_item" data-product="3" src="public/img/products/product_04.png"
                             alt="">
                    </div>
                </div>
            </li>

            <li class="page">
                <a href="" class="page_link">
                    usługi
                </a>
            </li>
            <li class="page">
                <a href="" class="page_link">
                    Kariera
                </a>
            </li>
            <li class="page">
                <a href="" class="page_link">
                    kontakt
                </a>
            </li>
            <!--            <li class="navList_languages">-->
            <!--                EN-->
            <!--            </li>-->

            <li id="nav_burder_close" class="nav_burder nav_burder_close">
                <span></span><span></span><span></span>
            </li>


        </ul>

        <div id="nav_burder" class="nav_burder">
            <span></span><span></span><span></span>
        </div>


        <a class="getOrder">
            Zamów produkt
        </a>
    </div>
</nav>

<script>
    const burger = document.getElementById('nav_burder');
    const burgerClose = document.getElementById('nav_burder_close');
    const navigation = document.getElementById('navihationList');
    burger.addEventListener('click', function (e) {
        burger.classList.add('active');
        burgerClose.classList.add('active');
        navigation.classList.add('active');
    });
    burgerClose.addEventListener('click', function () {
        burger.classList.remove('active');
        burgerClose.classList.remove('active');
        navigation.classList.remove('active');
    });

    const pageProduct = document.getElementById('page-product');
    const nav_productList = document.querySelector('.nav_productList');

    pageProduct.addEventListener('mouseover', function (el) {
        nav_productList.classList.add('active');
    });

    pageProduct.addEventListener('mouseout', function () {
        nav_productList.classList.remove('active');
    });

    const nav_product_item = Array.from(document.querySelectorAll('.nav_product_item'));
    const nav_product_img = Array.from(document.querySelectorAll('.nav_product_img_item'));

    nav_product_item.forEach(function (el) {
        el.addEventListener('mouseover', function (e) {
            const target = e.target.closest('.nav_product_item').getAttribute('data-product');
            nav_product_img.forEach(function (item) {
                item.classList.remove('active');
            });
            document.querySelector('.nav_product_img_item[data-product="' + target + '"]').classList.add('active');
        });
    });


</script>
<section class="hero">
    <img class="mainImg mainImg_desktop" data-animation="fadeIn" src="public/img/mainPage_hero.png" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row" >
            <h1 class="title" data-animation="fadeIn">
                Innowacyjne <br>
                rozwiązania <br>
                oparte o tradycję
            </h1>

        </div>
        <div class="row" >
            <a href="" class="arrow_btn" data-animation="fadeIn">zobacz naszą ofertę</a>
        </div>
    </div>
</section>
<section class="offer">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title">
                Technologie, które oferujemy
            </h2>
        </div>
        <div class="row offer-row">
            <a href="" class="tile">
                <img src="public/img/offer-tile-img-01.png" alt="" class="tile-img">
                <p class="tile-title">cięcie płyty</p>
            </a>
            <a href="" class="tile">
                <img src="public/img/offer-tile-img-01.png" alt="" class="tile-img">
                <p class="tile-title">oklejanie</p>
            </a>
            <a href="" class="tile">
                <img src="public/img/offer-tile-img-01.png" alt="" class="tile-img">
                <p class="tile-title">frezowanie <br> i&nbsp;wręgowanie</p>
            </a>
            <a href="" class="tile">
                <img src="public/img/offer-tile-img-01.png" alt="" class="tile-img">
                <p class="tile-title">wiercenie</p>
            </a>
            <a href="" class="tile">
                <img src="public/img/offer-tile-img-01.png" alt="" class="tile-img">
                <p class="tile-title">cięcie&nbsp;cnc</p>
            </a>
        </div>
    </div>
</section>
<section class="qualityStandard">
    <div class="container">
        <div class="row">
            <div class="col-content">
                <img src="public/img/fsc_logo.svg" alt="">
            </div>
            <div class="col-content">
                <h2 class="title">
                    Wyznaczamy standardy jakości
                </h2>
                <p class="content">
                    Od blisko 20 lat dostarczamy systemy, produkty i technologie, które ustanawiają standardy jakości w
                    zakresie w zakresie płyt wiórowych. Jesteśmy niezawodnym i kompetentnym partnerem we wszystkich
                    zakresie obróbki płyty.
                </p>
                <a class="arrow_btn_bg" href="">zobacz nasz certyfikaty</a>
            </div>
        </div>
    </div>
</section>
<section class="meetUs">
    <img class="shiftedTile_bg" src="public/img/img_textTile_bg.png" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col">
                <div class="box">
                    <img src="public/img/img_textTile_logo.svg" alt="">
                </div>
            </div>
            <div class="tile_col">

                <p class="text">
                    Dzięki współpracy z największymi producentami i dostawcami zapewniamy wysoką jakość wraz z
                    optymalnym czasem realizacji na gotowych produktów.
                </p>
                <a href="" class="arrow_btn">poznaj nas</a>

            </div>
        </div>
    </div>
</section>
<section class="ourProducts">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title">
                Nasze produkty
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="placeholder" src="public/img/ourProducts_img_1.png" alt="">
                <img class="productImg active" imgId="0" src="public/img/ourProducts_img_1.png" alt="">
                <img class="productImg" imgId="1" src="public/img/ourProducts_img_2.jpg" alt="">
                <img class="productImg" imgId="2" src="public/img/ourProducts_img_1.png" alt="">
                <img class="productImg" imgId="3" src="public/img/ourProducts_img_1.png" alt="">
            </div>
            <div class="col">
                <ul class="productList">
                    <li id="test" class="productList_el active" productId="0">
                        <p class="product_name">Płyta MDF</p>
                        <p class="product_description">Medium Density Fibreboard</p>
                        <div class="line-row">
                            <a href="" class="circle_btn"></a>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li class="productList_el" productId="1">
                        <p class="product_name">Płyta MDF</p>
                        <p class="product_description">Medium Density Fibreboard</p>
                        <div class="line-row">
                            <a href="" class="circle_btn"></a>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li class="productList_el" productId="2">
                        <p class="product_name">Płyta MDF</p>
                        <p class="product_description">Medium Density Fibreboard</p>
                        <div class="line-row">
                            <a href="" class="circle_btn"></a>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li class="productList_el" productId="3">
                        <p class="product_name">Płyta MDF</p>
                        <p class="product_description">Medium Density Fibreboard</p>
                        <div class="line-row">
                            <a href="" class="circle_btn"></a>
                            <div class="line"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row textCenter">
            <a href="" class="arrow_btn">zobacz pełną ofertę produktów</a>
        </div>
    </div>
</section>
<section class="machinePark">
    <img class="shiftedTile_bg" src="public/img/parkMaszynowy.png" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col">
                <div class="box">

                </div>
            </div>
            <div class="tile_col">

                <p class="text">
                    Nasz park maszynowy wyposażony jest w najwyższej klasy sprzęt - wysokoprecyzjne maszyny
                    charakteryzują się niespotykaną dokładnościa obróbki płyty.
                </p>
                <a href="" class="arrow_btn">zobazc nasz park maszynowy</a>

            </div>
        </div>
    </div>
</section>
<section class="seeMore">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title">Chcesz dowiedzieć sie więcej <br> o naszych produktach?</h2>
        </div>
        <div class="row textCenter">
            <p class="text">Skontaktuj się z nami. Nasi konsultanci z chęcią pomogą przy ich doborze.</p>
        </div>
        <div class="row textCenter">
            <a href="" class="arrow_btn_bg">poznaj nas</a>
        </div>
    </div>
</section>
<script>
    const ourProducts = Array.from(document.querySelectorAll('.productList_el'));
    const ourProductsImg = Array.from(document.querySelectorAll('.productImg'));

    ourProducts.forEach(function (el) {
        el.addEventListener('click', function (e) {
            const target = e.target.closest('.productList_el').getAttribute('productId');
            console.log(target);
            ourProductsImg.forEach(function (el) {
                el.classList.remove('active');
            });
            ourProducts.forEach(function (el) {
                el.classList.remove('active');
            });
            document.querySelector('.productImg[imgId="' + target + '"]').classList.add('active')
            e.target.closest('.productList_el').classList.add('active');
        });
    });
</script>
<script>
    const aniamtedElements = Array.from(document.querySelectorAll('[data-animation]'));
    let lastScroll = 0;
    let direction = '';

    let winTop = window.scrollY;
    let winHeight = window.innerHeight;
    let winBottom = winTop + winHeight;

    check_isInView(true);

    window.addEventListener('scroll', function (e) {
        winTop = window.scrollY;
        winHeight = window.innerHeight;
        winBottom = winTop + winHeight;

        if (lastScroll > winTop) {
            direction = 'top';
        } else {
            direction = 'bottom';
        }

        console.log(aniamtedElements);
        check_isInView(false);
        lastScroll = winTop;
    });

    function check_isInView(firstRun) {
        console.log(`sdadsasa`);
        aniamtedElements.forEach(function (el) {
            const elTop = el.offsetTop;
            const elHeight = el.offsetHeight;
            const elBottom = elTop + elHeight;
            switch (direction) {
                case 'top':
                    if (elBottom >= winBottom) {
                        el.classList.add('is_view');
                    }
                    break;
                case 'bottom':
                    console.log(elTop <= winTop);
                    if (elTop <= winTop) {
                        el.classList.add('is_view');
                    }
                    break;
            }
            if (firstRun) {
                console.log(elBottom);
                console.log(winBottom);
                if (elBottom <= winBottom + 10) {
                    el.classList.add('is_view');
                }
            }

        });
    }
</script>
</body>
