<body class="singleProduct">
<section class="hero">

    <div class="mainImg-dark"></div>
    <div class="leftBar"></div>
    <div class="container">
        <div class="row">
            <a href="" class="btn_back">
                produkty
            </a>
            <p class="subTitle">
                Produkty
            </p>
            <h1 class="title">
                Płyta laminowana
            </h1>
            <p class="description">
                Płyta laminowana Granboard powstaje w wyniku zaprasowania filmu dekoracyjnego nasyconego żywicami
                mocznikowymi i melaminowanymi na płytę wiórową lub płytę Dzięki szczególnym właściwościom ma szerokie
                zastosowanie w branży meblarskiej.
            </p>
        </div>
    </div>
    <img class="mainImg mainImg_desktop" src="public/img/product/main_foto.png" alt="">
</section>
<div class="singleProduct_nav">
    <div class="container">
        <div class="row">
            <div class="scroll_el" data-scroll="properties">Właściwości</div>
            <div class="scroll_el" data-scroll="data-tech">Dane techniczne</div>
            <div class="scroll_el" data-scroll="materials">Materiały do pobrania</div>
        </div>
    </div>
</div>
<div class="singleProduct_properties" data-scroll-target="properties">
    <div class="container">
        <div class="title">
            Właściwości płyty
        </div>
        <ul class="list">
            <li>
                <div class="icon">
                    <img src="public/img/product/icons/icon_1.jpg" alt="">
                </div>
                <p>Odporna na ścieranie i zarysowania</p>
            </li>
            <li>
                <div class="icon">
                    <img src="public/img/product/icons/icon_1.jpg" alt="">
                </div>
                <p>Odporna na wysokie temperatury</p>
            </li>
            <li>
                <div class="icon">
                    <img src="public/img/product/icons/icon_1.jpg" alt="">
                </div>
                <p>Bogata kolorystyka, dzięki szerokiej gamie dekorów</p>
            </li>
            <li>
                <div class="icon">
                    <img src="public/img/product/icons/icon_1.jpg" alt="">
                </div>
                <p>Zabezpieczona przed wilgocią na krawędziach farbą akrylową</p>
            </li>
        </ul>
    </div>
    <div id="prop_slider" class="slider">

        <div class="slide">
            <div class="counter">
                1/4
            </div>
            <img src="public/img/product/slide_01.jpg" alt="">
            <div class="tooltip" style="top: 60%; left: 40%;">
                <div class="tooltip_hover">
                    <span></span>
                    <span></span>
                </div>
                <div class="tooltip_content">
                    <p class="tooltip_content_title">
                        Cecha produktu
                    </p>
                    <p class="tooltip_content_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            <div class="tooltip" style="top: 40%; left: 70%;">
                <div class="tooltip_hover">
                    <span></span>
                    <span></span>
                </div>
                <div class="tooltip_content">
                    <p class="tooltip_content_title">
                        Cecha produktu
                    </p>
                    <p class="tooltip_content_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="public/img/product/slide_02.jpg" alt="">
        </div>
    </div>
</div>
<div class="technical_data" data-scroll-target="data-tech">
    <div class="container">
        <div class="title">
            Dane techniczne
        </div>
        <div class="data_list">
            <div class="data_list_el">
                <div class="el_title">
                    Standardowe rozmiary, mm (stopy)
                </div>
                <div class="el_content">
                    Standardowe rozmiary, mm (stopy)
                </div>
            </div>
            <div class="data_list_el">
                <div class="el_title">
                    Standardowe rozmiary, mm (stopy)
                </div>
                <div class="el_content">
                    Standardowe rozmiary, mm (stopy)
                </div>
            </div>
            <div class="data_list_el">
                <div class="el_title">
                    Standardowe rozmiary, mm (stopy)
                </div>
                <div class="el_content">
                    Standardowe rozmiary, mm (stopy)
                </div>
            </div>
            <div class="data_list_el">
                <div class="el_title">
                    Standardowe rozmiary, mm (stopy)
                </div>
                <div class="el_content">
                    Standardowe rozmiary, mm (stopy)
                </div>
            </div>
        </div>
    </div>
</div>
<section class="aboutProduct">
    <img class="shiftedTile_bg" src="public/img/parkMaszynowy.png" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col">
                <div class="box">

                </div>
            </div>
            <div class="tile_col">

                <p class="text">
                    Dzięki szerokiej gamie dekorów oraz struktur powierzchni, płyty laminowane są podstawowym materiałem
                    do produkcji mebli oraz elementów wykończenia wnętrz.
                </p>

            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/services/technology.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        Zabezpieczenie UV
                    </h3>
                    <p class="text">
                        Jako odpowiednio zabezpieczony produkt, płyty laminowane charakteryzują się wysoką odpornością
                        na działania promieni UV, zabrudzenia i środki chemiczne. Ponadto nie gromadzą ładunków
                        elektrostatycznych na swojej powierzchni, przez co nie przyciągają kurzu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="productDownloadMeterials" data-scroll-target="materials">
    <div class="container">
        <div class="title">
            Materiały do pobrania
        </div>
        <div class="productDownloadMeterials_list">
            <div class="productDownloadMeterials_el">
                <div class="left_content">
                    <p class="productDownloadMeterials_title">
                        Broszura informacyjna
                    </p>
                </div>
                <div class="right_content">
                    <div class="type_icon">PDF</div>
                    <a href="" class="download_arrow">
                        <span></span><span></span><span></span>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            Zainteresował Cię ten produkt?
        </h3>
        <p class="text">
            Kliknij "Zamów produkt" i skorzystaj z formularza zamówienia
        </p>
        <a class="arrow_btn_bg" href="">
            Zamów PRODUKT
        </a>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $('#prop_slider').slick({
        slidesToShow: 1.5,
        centerMode: true,
        slidesToScroll: 1.5,
        infinite: false,
        prevArrow: '<div class="slider_prev slider_nav"></div>',
        nextArrow: '<div class="slider_next slider_nav"></div>',
        responsive: [{
            breakpoint: 770,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                centerMode: false,
            }
        }]
    });
    $(document).ready(function () {
        $('.tooltip').mouseover(function () {
            console.log($(this));
            $(this).addClass('active');
        });
        $('.tooltip').mouseleave(function () {
            console.log($(this));
            $(this).removeClass('active');
        });
        $('.scroll_el').on('click', function () {
            const target = $(this).attr('data-scroll');
            const $target = $('[data-scroll-target="' + target + '"]');
            $([document.documentElement, document.body]).animate({
                scrollTop: $target.offset().top
            }, 2000);
        });
    });

</script>
</body>