<body class="productPage">
<section class="hero">
    <img class="mainImg mainImg_desktop" src="public/img/products/hero.jpg" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle">
                Produkty
            </p>
            <h1 class="title">
                Zrównoważone <br>
                rozwiązania <br>
                na bazie drewna
            </h1>
        </div>
    </div>
</section>
<section class="product_view">
    <div class="container">
        <p class="title">zmień widok listy</p>
        <div class="product_view_list">
            <div class="product_view_list_item " data-view="tiles">
                <span></span><span></span><span></span><span></span>
            </div>
            <div class="product_view_list_item active" data-view="list">
                <span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
</section>
<section class="product_list" data-view="list">
    <div class="product_item">
        <img class="product_item_img" src="public/img/products/product_01.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta MDF
                </h4>
                <p class="product_item_description">
                    Jest podstawowym materiałem do produkcji mebli oraz artykułów wykańczania wnętrz takich jak listwy
                    ozdobne,
                    panele ścienne, kasetony a także do produkcji artykułów stolarki budowlanej np. drzwi.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item reverse">
        <img class="product_item_img" src="public/img/products/product_02.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta wiórowa
                </h4>
                <p class="product_item_description">
                    Płyta o trójwarstwowym tworzywem drzewnym o szlifowanej powierzchni, powstałym w wyniku sprasowania
                    cząstek drewna przy zastosowaniu jako spoiwa żywic mocznikowo - formaldehydowych.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item">
        <img class="product_item_img" src="public/img/products/product_03.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta OSB
                </h4>
                <p class="product_item_description">
                    Płyta OSB oznacza się stabilnością kształtu, bardzo dobrą odpornością na wpływy warunków
                    atmosferycznych, uderzenia, dobrym tłumieniem dźwięków, łatwą obrabialnością i przetwarzalnością.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item reverse">
        <img class="product_item_img" src="public/img/products/product_04.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta HDF <br>
                    laminowana
                </h4>
                <p class="product_item_description">
                    Płyty HDF z dodatkowym laminowaniem. Płyty przeznaczone do produkcji paneli podłogowych, są także
                    materiałem nośnym do powlekania laminatami HPL i CPL, papierami żywiczymi i okleinami naturalnymi.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item ">
        <img class="product_item_img" src="public/img/products/product_05.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta wiórowa <br>
                    laminowana
                </h4>
                <p class="product_item_description">
                    Powstaje w wyniku zaprasowania filmu dekoracyjnego nasyconego żywicami mocznikowymi i laminowanymi
                    na
                    płytę wiórową lub płytę MDF. Płyta laminowana ma szerokie zastosowanie w branży meblarskiej.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item reverse">
        <img class="product_item_img" src="public/img/products/product_06.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta MDF <br>
                    laminowana
                </h4>
                <p class="product_item_description">
                    Płyty HDF są przeznaczone do produkcji paneli podłogowych. Są także materiałem nośnym do powlekania
                    laminatami HPL i CPL, papierami żywiczymi i okleinami naturalnymi.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item ">
        <img class="product_item_img" src="public/img/products/product_07.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta wiórowa foliowana
                </h4>
                <p class="product_item_description">
                    Płyta o trójwarstwowym tworzywem drzewnym o szlifowanej powierzchni z dodatkowym foliowaniem
                    powierzchni. Płyta foliowana ma szerokie zastosowanie w branży meblarskiej.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item reverse">
        <img class="product_item_img" src="public/img/products/product_08.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta pilśniowa
                </h4>
                <p class="product_item_description">
                    Płyta stosowana w branżach takich jak meblarstwo , przemysł opakowaniowy, przemysł samochodowy oraz
                    do
                    produkcji galanterii drzewnej.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
    <div class="product_item ">
        <img class="product_item_img" src="public/img/products/product_09.png" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name">
                    Płyta HDF
                </h4>
                <p class="product_item_description">
                    Płyty HDF są przeznaczone do produkcji paneli podłogowych. Są także materiałem nośnym do powlekania
                    laminatami HPL i CPL, papierami żywiczymi i okleinami naturalnymi.
                </p>
                <a href="" class="product_item_link">zobacz produkt</a>
            </div>
        </div>

    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            Zainteresował Cię nasz produkt?
        </h3>
        <p class="text">
            Zainteresował Cię któryś z naszych produktów? Skontaktuj się z naszym ekspertem, <br>
            a my przygotujemy dla Ciebie najlepszą ofertę
        </p>
        <a class="arrow_btn_bg" href="">
            SKONTAKTUJ SIĘ Z NAMI
        </a>
    </div>
</section>
<script>

    const listView = Array.from(document.querySelectorAll('.product_view_list_item'));

    listView.forEach(function (el) {
        el.addEventListener('click', function (e) {
            const target = e.target.closest('.product_view_list_item').getAttribute('data-view');
            listView.forEach(function (item) {
                item.classList.remove('active');
            });
            document.querySelector('.product_view_list_item[data-view="' + target + '"]').classList.add('active');

            document.querySelector('.product_list').setAttribute('data-view', target);

        });
    });
</script>
</body>