<body class="servicesPage">
<section class="hero">
    <img class="mainImg mainImg_desktop" src="public/img/services/hero.jpg" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle">
                Usługi
            </p>
            <h1 class="title">
                Nasza pasja <br>
                to wiedza którą <br>
                lubimy sie dzielić
            </h1>
        </div>
    </div>
</section>
<section class="strokes">
    <div class="container">
        <h3 class="title">
            Naszym celem jest zaoferowanie optymalnych rozwiązań dla każdego klienta. Dzięki wieloletniemu doświadczeniu
            opracowaliśmy wachlarz usług przystosowany do potrzeb naszych klientów.
        </h3>
    </div>
    <img class="shape" src="public/img/about_shape.png" alt="">
</section>
<section class="servicesTabs">
    <div class="partImg">
        <img src="public/img/services/tabBg.jpg" class="listOnTile_img active" alt="">
        <div class="container">
            <ul class="listOnTile">
                <li class="listOnTile_item active">
                    Ciecie płyt
                    <span class="circleBtn"></span>
                </li>
                <li class="listOnTile_item">
                    Oklejanie
                    <span class="circleBtn"></span>
                </li>
                <li class="listOnTile_item">
                    Frezowanie i wręgowanie
                    <span class="circleBtn"></span>
                </li>
                <li class="listOnTile_item">
                    Wiercenie
                    <span class="circleBtn"></span>
                </li>
                <li class="listOnTile_item">
                    Usługi CNC
                    <span class="circleBtn"></span>
                </li>
            </ul>
            <div class="serviceTitle">
                <div class="serviceTit_item active">
                    <img class="serviceTit_icon" src="public/img/services/icon_saw.svg" alt="">
                    <h2 class="title">Cięcie płyt</h2>
                </div>
                <div class="serviceTit_item">
                    <img class="serviceTit_icon" src="public/img/services/icon_saw.svg" alt="">
                    <h2 class="title">Cięcie płyt</h2>
                </div>
                <div class="serviceTit_item">
                    <img class="serviceTit_icon" src="public/img/services/icon_saw.svg" alt="">
                    <h2 class="title">Cięcie płyt</h2>
                </div>
                <div class="serviceTit_item">
                    <img class="" serviceTit_icon" " src="public/img/services/icon_saw.svg" alt="">
                    <h2 class="title">Cięcie płyt</h2>
                </div>
                <div class="serviceTit_item">
                    <img class="serviceTit_icon" src="public/img/services/icon_saw.svg" alt="">
                    <h2 class="title">Cięcie płyt</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="serviceContent active">
            <h4>
                Perfekcyjne cięcia dzięki doświadczeniu
            </h4>
            <p>
                Specjaliści w naszym zakładzie wykonują rozkroje na nowoczesnej pile panelowej, gwarantując jakość i
                terminowość. Profesjonalizm usług wymaga pieczołowitej i precyzyjnej pracy. Dlatego nasi specjaliści
                wykorzystują sterowaną komputerowo technikę produkcji i kładą najwyższy nacisk na precyzję docięcia,
                staranność oraz czas produkcji dostosowany do potrzeb klienta. Od prostych docięć, po skomplikowane
                kombinacje.
            </p>
            <h4>
                Zakres usługi
            </h4>
            <ul>
                <li>
                    <span class="check_icon"></span>
                    Docięcia proste
                </li>
                <li>
                    <span class="check_icon"></span>
                    Obrabiamy wszystkie popularne produkty płytowe
                </li>
                <li>
                    <span class="check_icon"></span>
                    Obrabiamy wszystkie popularne produkty płytowe
                </li>
            </ul>
        </div>
        <div class="serviceContent"></div>
        <div class="serviceContent"></div>
        <div class="serviceContent"></div>
        <div class="serviceContent"></div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/services/technology.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        Technologia
                    </h3>
                    <p class="text">
                        Piła panelowa z serii gabbiani g 3 to najbardziej zaawansowana maszyna do rozkroju płyt na
                        rynku. wyposażona w nowoczesny system “EASY & RESPONSIVE” pozwala na włączenie maszyny do tzw.
                        komórki produkcyjnej zgodnej z filozofią produkcji 4.0 utrzymując przy tym najwyższe standardy
                        jakości.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/services/cat.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        Ciecie z materiału powierzonego lub autorskiego
                    </h3>
                    <p class="text">
                        Dokonujemy cięcia płyt z materiału znajdującego się w magazynie lub na życzenie klienta z
                        dostarczonego materiału. Podejmujemy się cięcia płyt MDF, sklejek, wiórowych, laminowanych.
                        Nasze urządzenia zaprojektowane zostały w taki sposób by umożliwiały jak najszerszy zakres prac.
                        Precyzyjnie odwzorowujemy projekty podesłane przez klienta, trzymając się podesłanej
                        dokumentacji technicznej.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText no-text-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/services/graph.png" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        Nieustannie się rozwijamy
                    </h3>
                    <p class="text">
                        Doskonałość w standardzie zawsze jest naszym celem. Granboard konsekwentnie zapewnia doskonałość
                        we wszystkich obszarach. Nasz personel jest silnie zaangażowany w badania i prace
                        badawczo-rozwojowe w celu poprawy jakości i niezawodności naszych usług.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="public/img/services/quality-control.jpg" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title">
                        Kontrola jakości
                    </h3>
                    <p class="text">
                        Proces kontroli jakosci w naszej firmie jest kluczowy, dlatego nasi najlepsi specjalisci
                        dokladaja najwiekszej starannosci, podczas procesu produkcyjnego. Dzieki temu mozesz byc pewny,
                        że otrzymujesz produkt najwyzszej jakosci
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            Chcesz dowiedzieć się więcej <br> o naszych usługach?
        </h3>
        <p class="text">
            Skontaktuj się z nami. Nasi konsultanci z chęcią pomogą przy ich doborze.
        </p>
        <a class="arrow_btn_bg" href="">
            PRZEJDŹ DO KONTAKTU
        </a>
    </div>
</section>

<script>
    const tabNav = Array.from(document.querySelectorAll('.listOnTile_item'));
    tabNav.forEach(function (el) {
        el.addEventListener('click', function (e) {
            const target = e.target.closest('.listOnTile_item');
            tabNav.forEach(function (item) {
                item.classList.remove('active');
            });
            target.classList.add('active');
        });
    });
</script>
</body>