@import "variables";


%navPage_item {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (max-width: $container_xxl) {
    padding: 20px;
  }
}

%navPage_link {
  font-family: $Silka-bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: .14px;
  color: $color_text_on_main;
  border-bottom: 2px solid transparent;
  @media (max-width: $container_xxl) {
    font-size: 14px;
  }
  @media (max-width: $container_xl) {
    font-size: 14px;
  }
  @media (max-width: $container_xl_2) {
    font-size: 23px;
  }

  &:hover {
    border-color: $color_2;
  }

}

%title_hero_mainPage {
  font-size: 119px;
  line-height: 1.01em;
  font-family: $Silka-medium;
  color: $color_text_on_main;
  letter-spacing: -4.84px;
  @media (max-width: $container_xxl) {
    font-size: 95px;
  }
  @media (max-width: $container_xl) {
    font-size: 88px;
  }
  @media (max-width: $container_l) {
    font-size: 70px;
  }
  @media (max-width: $container_m) {
    font-size: 64px;
  }
  @media (max-width: $container_s) {
    font-size: 37px;
  }
}

%title_hero_subPage {
  font-size: 90px;
  line-height: 1.1em;
  font-family: $Silka-bold;
  color: $color_text_on_main;
  letter-spacing: -3.6px;
  z-index: 6;
  width: 100%;
  @media (max-width: $container_xl) {
    font-size: 65px;
    letter-spacing: -2px;
  }
  @media (max-width: $container_l) {
    font-size: 55px;
    letter-spacing: -1px;
  }
  @media (max-width: $container_m) {
    font-size: 45px;
    letter-spacing: -.5px;
  }
  @media (max-width: $container_s) {
    font-size: 28px;
    letter-spacing: 0px;
  }
}

%subTitle_hero_subPage {
  font-size: 30px;
  line-height: 1.1em;
  font-family: $Silka-bold;
  letter-spacing: -1.2px;
  color: $color_text_on_main;
  margin: 0 0 25px 0;
  z-index: 6;

}

%clearBtnStyle {
  border: none;
  outline: unset;
  box-shadow: none;
  background-color: transparent;
  text-transform: none;

  &:hover {
    text-transform: none;
  }
}



