@import "variables";
@import "extends";

@mixin arrow_btn($color,$color_hover) {
  color: $color;
  font-size: 14px;
  font-weight: bold;
  font-family: $Silka-bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  z-index: 6;
  padding: 0 25px 0 0;
  transition: all ease-in-out .2s;
  @media(max-width: $container_xxl) {
    font-size: 12px;
  }
  &:before {
    content: '';
    width: 12px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: $color;
    transition: all ease-in-out .2s;
  }
  &:after {
    content: '';
    border-right: 1px solid $color;
    border-bottom: 1px solid $color;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 11px;
    height: 11px;
    transform: translateY(-50%) rotate(-45deg);
    transition: all ease-in-out .2s;
  }
  &:hover {
    color: $color_hover;

    &:before {
      background-color: $color_hover;
    }

    &:after {
      border-color: $color_hover;
    }
  }
}

@mixin arrow_btn_bg($color,$color_hover,$background,$background_hover) {
  @include arrow_btn($color, $color_hover);
  background-color: $background;
  padding: 22px 49px 22px 29px;
  &:before {
    right: 20px;
  }
  &:after {
    right: 20px;
  }
  &:hover {
    background-color: $background_hover;
  }

}

@mixin download_btn($color,$color_hover) {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  span {
    display: block;
    transition: all ease-in-out .2s;
    position: absolute;

    &:first-child {
      width: 1px;
      height: calc(100% - 6px);
      background-color: $color;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      width: 10px;
      height: 10px;
      border: 1px solid $color;
      transform: translateX(-50%) rotate(45deg);
      border-top: none;
      border-left: none;
      left: 50%;
      top: 4px;
    }

    &:last-child {
      width: 100%;
      height: 1px;
      background-color: $color;
      bottom: 0;
      left: 0;
    }
  }
  &:hover {
    span {
      &:first-child {
        background-color: $color_hover;
      }

      &:nth-child(2) {
        border-color: $color_hover;
      }

      &:last-child {
        background-color: $color_hover;
      }
    }
  }
}

@mixin circle_btn($color,$background,$colorHover) {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 1px solid $color;
  background-color: $background;
  transition: all ease-in-out .4s;
  position: relative;
  &:before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: $color;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    transition: all ease-in-out .4s;
  }
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 1px solid $color;
    border-bottom: 1px solid $color;
    transform: rotate(-45deg) translateY(-73%);
    position: absolute;
    top: 50%;
    right: 13.5px;
    transition: all ease-in-out .4s;
  }
  &:hover {
    border-color: $colorHover;

    &:before {
      background-color: $colorHover;
    }

    &:after {
      border-color: $colorHover;
    }
  }
}

@mixin sectionTitle($color,$textAlign) {
  font-size: 50px;
  line-height: 1.1em;
  margin: 0 0 65px 0;
  color: $color;
  font-family: $Silka-bold;
  text-align: $textAlign;
  @media (max-width: $container_xxl) {
    font-size: 46px;
    margin: 0 0 55px 0;
  }
  @media (max-width: $container_l) {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
  @media (max-width: $container_m) {
    font-size: 34px;
    margin: 0 0 30px 0;
    letter-spacing: -1.12px;
  }
  @media (max-width: $container_s) {
    font-size: 28px;
    margin: 0 0 20px 0;
    br {
      display: none;
    }

  }
}

@mixin section_subTitle($color,$textAlign) {
  font-size: 30px;
  font-family: $Silka-regular;
  line-height: 1.2em;
  letter-spacing: -.6px;
  color: $color;
  text-align: $textAlign;
}

@mixin sectionText($color,$textAlign) {
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  color: $color;
  font-family: $Silka-regular;
  letter-spacing: -.48px;
  text-align: $textAlign;
  @media (max-width: $container_xl) {

  }
  @media (max-width: $container_l) {

  }
  @media (max-width: $container_m) {
    letter-spacing: -0.48px;
  }
  @media (max-width: $container_s) {

    br {
      display: none;
    }

  }
}

@mixin section_shiftedTile($logo_bg,$tile_color,$tile_bg,$arrow_color,$arrow_color_hover) {
  overflow: hidden;
  @if $logo_bg == transparent {
    padding: 25% 0 75px 0;
    @media (max-width: $container_s) {
      padding: 15% 0 35px 0;
    }
  } @else {
    padding: 30.5% 0 75px 0;
    @media (max-width: $container_m) {
      padding: 325px 0 75px 0;
    }
    @media (max-width: $container_s) {
      padding: 275px 0 75px 0;
    }
  }
  position: relative;

  .shiftedTile_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    @media (max-width: $container_m) {
      max-width: none;
      width: auto;
      height: 400px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: $container_s) {
      max-width: none;
      width: auto;
      height: 350px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: $container_xs) {
      max-width: none;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .img_col {
    width: 420px;
    position: relative;
    z-index: 2;
    @media (max-width: $container_xxl) {
      width: 300px;
    }
    @media (max-width: $container_l) {
      width: 250px;
    }
    @media (max-width: $container_m) {
      width: 200px;
    }
    @media (max-width: $container_s) {
      width: 1000%;
    }

    .box {
      background-color: $logo_bg;
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -145px;
      padding: 35px;
      @media (max-width: $container_xxl) {
        height: 300px;
      }
      @media (max-width: $container_l) {
        height: 250px;
      }
      @media (max-width: $container_m) {
        height: 200px;
      }
      @media (max-width: $container_m) {
        height: 145px;
        margin-top: -70px;
      }
    }
  }

  .tile_col {
    padding: 130px 110px;
    width: calc(100% - 420px);
    background-color: $tile_bg;
    position: relative;
    z-index: 2;
    @media (max-width: $container_xxl) {
      padding: 100px 90px;
      width: calc(100% - 300px);
    }
    @media (max-width: $container_l) {
      padding: 70px;
      width: calc(100% - 250px);
    }
    @media (max-width: $container_m) {
      padding: 70px;
      width: 100%;
    }
    @media (max-width: $container_s) {
      padding: 40px 30px;
    }

    .text {
      font-family: $Silka-medium;
      font-size: 30px;
      line-height: 36px;
      color: $tile_color;
      margin: 0 0 50px 0;
      @media (max-width: $container_xxl) {
        font-size: 22px;
        line-height: 28px;
        margin: 0 0 35px 0;
      }
      @media (max-width: $container_l) {
        font-size: 19px;
        line-height: 25px;
        margin: 0 0 35px 0;
      }
      @media (max-width: $container_m) {
        line-height: 23px;
        margin: 0 0 25px 0;
      }
      @media (max-width: $container_m) {
        font-size: 18px;
        margin: 0 0 15px 0;
      }
    }

    .arrow_btn {
      @include arrow_btn($arrow_color, $arrow_color_hover);
    }
  }

}

@mixin subPage_hero() {

  position: relative;
  overflow: hidden;
  display: flex;
  padding: 250px 0;
  align-items: center;

  .container {

  }
  .leftBar {
    height: 100%;
    width: 34%;
    background-color: $color_main;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    @media(max-width: $container_xl) {
      width: 38%;
    }
    @media(max-width: $container_l) {
      width: 45%;
    }
    @media(max-width: $container_m) {
      width: 45%;
    }
    @media(max-width: $container_s) {
      width: 48%;
    }
  }

  .mainImg {
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .mainImg-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
  }

  .subTitle {
    @extend %subTitle_hero_subPage;
  }
  .title {
    @extend %title_hero_subPage;
  }

  .arrow_btn {
    @include arrow_btn($color_2, $color_text_on_main);
    margin: 27px 0 0 0;
  }

}

@mixin imgWithText() {
  padding: 80px 0;
  @media (max-width: $container_l) {
    padding: 40px 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    width: 50%;
    @media (max-width: $container_l) {
      width: 100%;
    }

    img {
      margin: 0 auto;
      display: block;
      @media (max-width: $container_l) {
        margin: 0 auto 60px auto;
      }
      @media (max-width: $container_m) {
        margin: 0 auto 30px auto;
      }
    }
  }

  .textContent {
    padding: 0 0 0 100px;
    @media (max-width: $container_l) {
      padding: 0;
    }
    @media (max-width: $container_m) {
      text-align: center;

    }
  }
  &.no-text-padding {
    .textContent {
      padding: 0;
    }
  }

  .title {
    @include sectionTitle($color_text_on_white, left);

  }

  .text {
    @include sectionText($color_text_2_on_white, left);
  }
  .arrow_btn_bg {
    @include arrow_btn_bg($color_text_on_main, $color_2, $color_main, $color_text_on_white);
    margin: 55px 0 0 0;
    @media (max-width: $container_m) {
      margin: 30px auto 0 auto;

    }
  }
}

@mixin simpleWithBg($colorBg) {
  background-color: $colorBg;
  padding: 150px 0;
  @media (max-width: $container_xl) {
    padding: 90px 0;
  }
  @media (max-width: $container_l) {
    padding: 80px 0;
  }
  @media (max-width: $container_m) {
    padding: 70px 0;
  }
  @media (max-width: $container_s) {
    padding: 60px 0;
  }
  .container {
    text-align: center;
  }
  .title {
    @include sectionTitle($color_text_on_white, center);
    margin: 0;
  }
  .text {
    @include sectionText($color_text_2_on_white, center);
    max-width: 80%;
    margin: 45px auto;
    @media (max-width: $container_l) {
      max-width: 90%;
      margin: 30px auto;
    }
    @media (max-width: $container_m) {
      max-width: 100%;
      margin: 25px auto;
    }
  }
  .arrow_btn_bg {
    @include arrow_btn_bg($color_text_on_main, $color_2, $color_main, $color_text_on_white);
  }
}

@mixin sectionWithShape() {
  position: relative;
  padding: 130px 0 80px 0;
  @media (max-width: $container_m) {
    padding: 40px 0 0 0;
  }

  .title {
    @include sectionTitle($color_text_on_white, left);
    max-width: 80%;
    z-index: 3;
    position: relative;
    margin: 0;
    @media (max-width: $container_m) {
      max-width: 100%;
    }
  }

  .shape {
    position: absolute;
    right: 0;
    top: 10%;
    width: 600px;
    z-index: 2;
    @media (max-width: $container_xl) {
      width: auto;
    }
    @media (max-width: $container_m) {
      position: relative;
      right: auto;
      top: auto;
      margin: 0 0 0 auto;
    }
  }
}