$Silka-black: 'Silka-black', serif;
$Silka-bold: 'Silka-bold', serif;
$Silka-light: 'Silka-light', serif;
$Silka-extralight: 'Silka-extralight', serif;
$Silka-medium: 'Silka-medium', serif;
$Silka-regular: 'Silka-regular', serif;
$Silka-thin: 'Silka-thin', serif;

$container_xxl: 1560px;
$container_xl: 1290px;
$container_xl_2: 1130px;
$container_l: 1024px;
$container_l_2: 960px;
$container_m: 770px;
$container_s: 580px;
$container_xs: 420px;

$color_text_on_main: #fff;
$color_text_on_white: #000;
$color_text_2_on_white: #4C5560;

$color_main: #151F2A;
$color_2: #DBBF89;
$color_3: #F3F3F3;