@import "variables";
@import "extends";
@import "mixins";

.aboutPage {

  .hero {
    @include subPage_hero();
  }

  .strokes {
    @include sectionWithShape();
  }

  .imgWithText {
    @include imgWithText();
  }

  .simpleWithBtn {
    @include simpleWithBg($color_3)
  }

  .servicesSlider {
    margin-top: 130px;
    overflow: hidden;
    @media (max-width: $container_xl) {
      margin-top: 60px;
    }

    .sectionTitle {
      @include sectionTitle($color_text_on_white, center);
    }

    .serviceList {
      margin: 120px auto;
      width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      @media (max-width: $container_xl) {
        margin: 80px auto;
      }
      @media (max-width: $container_l) {
        margin: 40px auto;
      }

      &:after {
        content: '';
        width: 70%;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $color_text_on_white;
        z-index: 1;
      }
    }

    .serviceList_item {
      width: calc(100% / 3);
      text-align: center;
      position: relative;
      z-index: 2;
      cursor: pointer;

      .service_name {
        display: inline-block;
        text-align: center;
        font-family: Silka-light;
        padding: 0 30px;
        background: $color_text_on_main;
        font-size: 20px;
        line-height: 24px;
        color: $color_text_on_white;
        margin: 0 0 50px 0;
        transition: color ease-in-out .1s;
      }

      .service_description {
        text-align: center;
        font-family: Silka-bold;
        font-size: 20px;
        line-height: 24px;
        color: lighten($color_text_on_white, 80%);
        transition: color ease-in-out .1s;
      }

      &.active {
        .service_name {
          color: $color_2;
        }

        .service_description {
          color: $color_text_on_white;
        }
      }
    }


    .servicesSlider_slides {
      background-color: $color_main;
      display: flex;
      flex-wrap: wrap;

      .servicesSlider_nav {
        position: absolute;
        top: 13%;
        right: 11.4%;
        display: flex;
        justify-content: space-between;
        width: 130px;
        z-index: 99;
        @media (max-width: $container_xl_2) {
          position: relative;
          right: auto;
          top: auto;
          margin: 30px 0 0 0;
        }
      }

      .navLeft {
        @include circle_btn($color_text_on_main, transparent, $color_2);
        transform: rotate(180deg);
        cursor: pointer;
      }

      .navRight {
        @include circle_btn($color_text_on_main, transparent, $color_2);
        cursor: pointer;

      }

      .contentSide {
        width: 50%;
        position: relative;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $container_xl_2) {
          width: 50%;
          justify-content: flex-start;
          padding: 0 0 0 50px;
        }
        @media (max-width: $container_l) {
          width: 100%;
          padding: 0 25px;
        }

        .contentSide_slide {
          max-width: $container_xl / 2;
          width: 100%;
          padding: 0 100px 0 20px;
          box-sizing: border-box;
          opacity: 0;
          transition: all ease-in-out .4s;
          overflow: hidden;
          position: absolute;
          @media (max-width: $container_xl) {
            padding: 0 70px 0 50px;
          }
          @media (max-width: $container_xl_2) {
            padding: 30px 30px 30px 0;
          }
          @media (max-width: $container_l) {
            max-width: 100%;
            padding: 30px 0;
          }

          &.active {
            position: relative;
            opacity: 1;

          }

        }

        .title {
          @include sectionTitle($color_text_on_main, left);
          @media (max-width: $container_xl) {
            margin: 0 0 0 0;
          }
        }

        .text {
          @include sectionText($color_text_on_main, left);
          @media (max-width: $container_xl) {
            margin: 30px 0;
          }
        }

        .arrow_btn {
          @include arrow_btn($color_2, $color_text_on_main);
          margin: 55px 0 0 0;
          @media (max-width: $container_xl) {
            margin: 0 0 0 0;
          }
        }
      }

      .imgSide {
        width: 50%;
        position: relative;
        overflow: hidden;
        @media (max-width: $container_xl_2) {
          width: 50%;
        }
        @media (max-width: $container_l) {
          width: 100%;
        }

        .imgSide_item {
          opacity: 0;
          position: absolute;
          transition: opacity ease-in-out .4s;
          width: 100%;
          @media (max-width: $container_xl_2) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
          }
          @media (max-width: $container_l) {
            opacity: 0;
            position: absolute;
            transition: opacity ease-in-out .4s;
            width: 100%;
            top: auto;
            left: auto;
            transform: none;
            min-height: 0;
          }

          &.active {
            position: relative;
            opacity: 1;
            @media (max-width: $container_xl_2) {
              position: absolute;
            }
            @media (max-width: $container_l) {
              position: relative;
            }
          }


        }

      }
    }
  }

}