@import "variables";
@import "extends";
@import "mixins";

.contact {
  .hero {
    @include subPage_hero();
  }

  .contactInfo {
    padding: 120px 0;

    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .adress {
      width: 50%;
      display: flex;
      @media (max-width: $container_l_2) {
        width: 100%;
        margin: 10px 0;
      }
    }

    .teleadress {
      width: 50%;
      display: flex;
      @media (max-width: $container_l_2) {
        width: 100%;
        margin: 10px 0;
      }
    }

    .list {
      margin: 40px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .subTit {
        font-family: $Silka-bold;
        font-size: 20px;
        line-height: 1.1em;
        color: $color_text_on_white;
        letter-spacing: -.4px;
        margin-bottom: 50px;
        @media (max-width: $container_l_2) {
          font-size: 14px;
          margin-bottom: 30px;
        }
      }

      .tit {
        font-family: $Silka-bold;
        font-size: 30px;
        line-height: 1.1em;
        color: $color_text_on_white;
        letter-spacing: -.6px;
        margin-bottom: 50px;
        @media (max-width: $container_l_2) {
          font-size: 22px;
          margin-bottom: 30px;
        }
      }

      .description {
        font-family: $Silka-regular;
        font-size: 16px;
        line-height: 1.1em;
        color: lighten($color_text_on_white, 60);
        letter-spacing: -.48px;
        margin-bottom: 50px;
        @media (max-width: $container_l_2) {
          margin-bottom: 30px;
        }
      }

      .btn_scroll {
        font-family: $Silka-bold;
        font-size: 12px;
        line-height: 1.1em;
        color: $color_text_on_white;
        letter-spacing: -.08px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: calc(100% + 5px);
          top: calc(50% - .5px);
          height: 1px;
          width: 15px;
          background-color: $color_text_on_white;
        }

        &:before {
          content: '';
          position: absolute;
          left: calc(100% + 9px);
          top: calc(50% - 5px);
          width: 8px;
          height: 8px;
          border: 1px solid $color_text_on_white;
          border-left: none;
          border-bottom: none;
          transform: rotate(45deg);
        }
      }

      .icon {
        width: 80px;
        @media (max-width: $container_xl_2) {
          width: 50px;
        }
      }

      .content {
        width: calc(100% - 80px);
        padding-left: 60px;
        @media (max-width: $container_xl_2) {
          width: calc(100% - 50px);
          padding-left: 30px;
        }
      }
    }
  }

  #map {
    height: 700px;
    @media (max-width: $container_xl) {
      height: 600px;
    }
    @media (max-width: $container_xl_2) {
      height: 500px;
    }
  }

  .contactForm {
    padding: 120px 0;

    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .form_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .formField_label {
      font-family: $Silka-regular;
      font-size: 16px;
      line-height: 1.2em;
      letter-spacing: -0.48px;
      color: lighten($color_text_on_white, 40);
      opacity: 1;
    }

    .formField {
      width: calc(50% - 30px);
      margin: 16px 0;
      @media (max-width: $container_l_2) {
        width: 100%;
      }

      &.formField_full {
        width: 100%;
      }

      &.formField_agree {
        width: 75%;
        display: flex;

        .formField_label {
          width: calc(100% - 28px);
          padding-left: 22px;
        }
      }
    }

    .formField_el {
      margin-top: 5px;
      height: 33px;
      box-shadow: none;
      width: 100%;
      border: none;
      border-bottom: 1px solid lighten($color_text_on_white, 40);
      font-family: $Silka-regular;
      font-size: 18px;
      line-height: 1.2em;
      letter-spacing: -0.48px;
      color: lighten($color_text_on_white, 40);
      opacity: 1;
      outline: none;
    }

    .agreeInput {
      width: 28px;
      height: 28px;
      display: block;
      border: 1px solid $color_text_on_white;
    }

    .submitBTN {
      @include arrow_btn_bg($color_text_on_main, $color_2, $color_main, darken($color_main, 40));
      border: none;
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 70px 0 0 0;

    }
  }
}