@import "variables";
@import "extends";
@import "mixins";

.footer {
  background-color: #F3F3F3;
  padding: 120px 0 0 0;
  @media (max-width: $container_xl_2) {
   padding: 60px 0 0 0;
  }
  @media (max-width: $container_xl_2) {
    background-color: #fff;
    border-top: 2px solid #F3F3F3;
    padding-top: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: $container_xl_2) {
      flex-wrap: wrap;
    }
  }

  .containerFull {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 110px 0;
    background-color: #fff;
    width: 100%;
    @media (max-width: $container_xxl) {
      padding: 60px 0;
    }
    @media (max-width: $container_xl_2) {
      padding: 30px 0;
    }
    p {
      display: block;
      width: 100%;
      text-align: center;
      font-family: Silka-light;
      font-size: 12px;
      letter-spacing: -.36px;
      color: lighten($color_text_on_white, 70);
    }

    .links {
      display: block;
      width: 100%;
      text-align: center;

      a {
        font-family: Silka-light;
        font-size: 12px;
        letter-spacing: -.36px;
        color: lighten($color_text_on_white, 70);
        text-decoration: none;
      }
    }
  }

  .footer_contact {
    @media (max-width: $container_xl_2) {
      width: 100%;
    }


    img {
      width: 165px;
      @media (max-width: $container_m) {
        margin: 0 auto;
      }
    }

    .content {
      margin: 30px 0 120px 0;
      @media (max-width: $container_xl_2) {
        margin: 30px 0;
      }
      @media (max-width: $container_m) {
        display: none;
      }

      p {
        font-family: $Silka-light;
        font-size: 14px;
        line-height: 1.2em;
        color: lighten($color_text_on_white, 70);
        margin: 4px 0;
      }
    }
  }

  .footer_pageMap {
    display: flex;
    @media (max-width: $container_xl_2) {
      width: 100%;
      justify-content: space-between;
    }
    @media (max-width: $container_m) {
      display: none;
    }
    .footer_page {
      margin-right: 80px;
      margin-bottom: 120px;

      &:last-child {
        margin: 0;
      }
    }

    .footer_pageMap_title {
      font-family: $Silka-bold;
      font-size: 18px;
      line-height: 1.2em;
      color: $color_text_on_white;
      text-transform: uppercase;
      margin: 0 0 45px 0;
      display: block;
      text-decoration: none;
    }

    .footer_pageMap_page {
      font-family: $Silka-light;
      font-size: 14px;
      line-height: 1.2em;
      color: lighten($color_text_on_white, 70);
      margin: 4px 0;
      display: block;
      text-decoration: none;
    }
  }
}