@import 'variables';


@font-face {
  font-family: 'Silka-black';
  src: url("../font/silka-black-webfont.woff2");
}

@font-face {
  font-family: 'Silka-bold';
  src: url("../font/silka-bold-webfont.woff2");
}

@font-face {
  font-family: 'Silka-exrtalight';
  src: url("../font/silka-extralight-webfont.woff2");
}

@font-face {
  font-family: 'Silka-light';
  src: url("../font/silka-light-webfont.woff2");
}

@font-face {
  font-family: 'Silka-medium';
  src: url("../font/silka-medium-webfont.woff2");
}

@font-face {
  font-family: 'Silka-regular';
  src: url("../font/silka-regular-webfont.woff2");
}

@font-face {
  font-family: 'Silka-thin';
  src: url("../font/silka-thin-webfont.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: $container_xl;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  @media (max-width: $container_xxl) {
    width: $container_xl_2;
    padding: 0 50px;
  }
  @media (max-width: $container_xl_2) {
    width: 100%;
    padding: 0 25px;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;

  &.textCenter {
    justify-content: center;
  }
}

[data-animation="slideFromLeft"] {
  transform: translateX(-200%);
  transition: all ease-in-out .7s;
  opacity: 0;

  &.is_view {
    transform: translateX(0);
    opacity: 1;
  }
}

[data-animation="slideFromRight"] {
  transform: translateX(200%);
  transition: all ease-in-out .7s;
  opacity: 0;

  &.is_view {
    transform: translateX(0);
    opacity: 1;
  }
}

[data-animation="fadeIn"] {
  opacity: 0;
  transition: all ease-in-out .6s;
  transform: translateY(50px);

  &.is_view {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="fastFadeIn"] {
  opacity: 0;
  transition: all ease-in-out .4s;
  transform: translateY(50px);

  &.is_view {
    opacity: 1;
    transform: translateY(0);
  }
}