@import "variables";
@import "extends";
@import "mixins";

.mainPage {
  .hero {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    align-items: center;


    .leftBar {
      height: 100%;
      width: 34%;
      background-color: $color_main;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      @media(max-width: $container_xl) {
        width: 38%;
      }
      @media(max-width: $container_l) {
        width: 45%;
      }
      @media(max-width: $container_m) {
        width: 45%;
      }
      @media(max-width: $container_s) {
        width: 48%;
      }
    }

    .mainImg {
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .mainImg-dark {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      background: rgba(0, 0, 0, 0.35);
    }

    .title {
      @extend %title_hero_mainPage;
      margin: 0 0 27px 0;
      position: relative;
      z-index: 6;
    }

    .arrow_btn {
      @include arrow_btn($color_2, $color_text_on_main);
      margin: 27px 0 0 0;
    }
  }

  .offer {
    padding: 150px 0 50px 0;
    @media (max-width: $container_xxl) {
      padding: 100px 0;
    }
    @media (max-width: $container_l) {
      padding: 70px 0;
    }
    @media (max-width: $container_m) {
      padding: 60px 0;
    }
    @media (max-width: $container_s) {
      padding: 30px 0;
    }

    .offer-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: $container_m) {
        justify-content: space-between;
      }
    }

    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .tile {
      width: calc((100% / 3) - 33.333px);

      overflow: hidden;
      position: relative;
      display: block;
      align-items: flex-end;
      margin: 25px;
      cursor: pointer;
      @media (max-width: $container_l) {
        margin: 10px 15px;
      }

      @media (min-width: $container_m) {
        &:first-child {
          margin-left: 0;
        }

        &:nth-child(4n) {
          margin-left: 0;

        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: $container_m) {
        width: calc(50% - 5px);
        margin: 5px;
        &:nth-child(odd) {
          margin-left: 0;
        }
        &:nth-child(even) {
          margin-right: 0;
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        z-index: 2;
        transition: opacity ease-in-out .3s;
      }

      .tile-img {
        position: relative;
        z-index: 1;
      }

      .tile-title {
        position: absolute;
        left: 45px;
        bottom: 45px;
        color: $color_text_on_main;
        font-size: 28px;
        font-family: $Silka-bold;
        z-index: 3;
        text-transform: uppercase;
        transition: color ease-in-out .1s;
        @media (max-width: $container_xxl) {
          font-size: 20px;
          left: 25px;
          bottom: 25px;
        }
        @media (max-width: $container_l) {
          font-size: 18px;
          left: 25px;
          bottom: 25px;
        }
        @media (max-width: $container_m) {
          font-size: 27px;

        }
        @media (max-width: $container_s) {
          font-size: 12px;
          left: 15px;
          bottom: 15px;
        }
      }

      &:hover {
        &:after {
          opacity: 1;
        }

        .tile-title {
          color: $color_2;
        }
      }
    }
  }

  .qualityStandard {
    padding: 75px 0 130px 0;
    @media (max-width: $container_xl) {
      padding: 55px 0;
    }
    @media (max-width: $container_l) {
      padding: 50px 0;
    }
    @media (max-width: $container_m) {
      padding: 45px 0;
    }
    @media (max-width: $container_s) {
      padding: 30px 0;
    }

    .row {
      justify-content: center;
    }

    .col-content {
      width: 50%;
      @media (max-width: $container_m) {
        text-align: center;
      }

      &:first-child {
        width: 60%;
        @media (max-width: $container_l) {
          width: 40%;
        }
        @media (max-width: $container_m) {
          width: 100%;
        }
      }

      &:last-child {
        width: 40%;
        @media (max-width: $container_l) {
          width: 60%;
        }
        @media (max-width: $container_m) {
          width: 100%;
        }
      }


    }

    img {
      margin: 0 auto;
      max-width: 100%;
      @media (max-width: $container_l) {
        max-width: 250px;
      }
      @media (max-width: $container_s) {
        max-width: 150px;
      }
    }

    .title {
      @include sectionTitle($color_text_on_white, left);

      @media (max-width: $container_m) {
        text-align: center;
        margin-top: 30px;
      }
      @media (max-width: $container_s) {
        text-align: left;
      }
    }

    .content {
      margin: 0 0 70px 0;
      font-size: 16px;
      line-height: 1.7em;
      font-family: $Silka-regular;
      color: $color_text_2_on_white;
      @media (max-width: $container_xxl) {
        font-size: 15px;
        margin: 0 0 40px 0;
      }
      @media (max-width: $container_m) {
        text-align: center;
        font-size: 14px;
        margin: 0 0 40px 0;
      }
      @media (max-width: $container_s) {
        text-align: left;
        margin: 0 0 30px 0;
      }
    }


    .arrow_btn_bg {
      @include arrow_btn_bg($color_text_on_main, $color_2, $color_main, $color_text_on_white);
    }
  }

  .meetUs {
    @include section_shiftedTile(#fff, $color_text_on_main, $color_main, $color_2, $color_text_on_main);
  }

  .ourProducts {
    padding: 75px 0 150px 0;
    @media (max-width: $container_xxl) {
      padding: 15px 0 75px 0;
    }
    @media (max-width: $container_l) {
      padding: 45px 0;
    }


    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .col {
      width: 50%;
      display: flex;
      position: relative;
      overflow: hidden;
      @media (max-width: $container_m) {
        width: 100%;
      }
    }

    .placeholder {
      opacity: 0;
    }

    .productImg {
      opacity: 0;
      position: absolute;
      left: -100%;
      top: 50%;
      min-width: 640px;
      min-height: 100%;
      transform: translate(-50%, -50%);
      transition: all ease-in-out .5s;
      @media (max-width: $container_xl) {
        min-width: 100%;
        min-height: 0;
      }

      &.active {
        opacity: 1;
        left: 50%;
      }
    }

    .productList {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 100px 0;
      @media (max-width: $container_m) {
        padding: 30px 0;
      }

    }

    .productList_el {
      height: 25%;
      width: 100%;
      text-align: right;
      cursor: pointer;


      .product_name {
        font-size: 22px;
        font-family: Silka-bold;
        color: rgba($color_text_on_white, .2);
        margin: 0 0 9px 0;
        transition: color ease-in-out .2s;
        @media (max-width: $container_xxl) {
          font-size: 16px;
        }
      }

      .product_description {
        font-size: 14px;
        font-family: Silka-regular;
        color: rgba($color_text_on_white, .2);
        transition: color ease-in-out .2s;
        @media (max-width: $container_xxl) {
          font-size: 13px;
        }
      }

      .line-row {
        width: 0;
        position: relative;
        padding: 29px 0;
        transition: width ease-in-out .3s;
        overflow: hidden;

        .circle_btn {
          @include circle_btn($color_text_on_white, $color_text_on_main, $color_text_on_white);
          position: absolute;
          left: -80px;
          top: 50%;
          transform: translateY(-50%);
          transition: left ease-in-out .3s;

        }

        .line {
          width: 100%;
          height: 1px;
          background-color: $color_text_on_white;
        }

      }

      &:hover {
        .product_name {
          color: rgba($color_text_on_white, .5);
        }

        .product_description {
          color: rgba($color_text_on_white, .3);
        }

        .line-row {
          width: 100%;
        }
      }

      &.active {
        .product_name {
          color: $color_text_on_white;
        }

        .product_description {
          color: rgba($color_text_on_white, .4);
        }

        .line-row {
          width: 100%;
        }

        .circle_btn {
          left: 80px;
          @media (max-width: $container_m) {
            left: 10px;
          }
        }
      }
    }

    .arrow_btn {
      @include arrow_btn($color_text_on_white, $color_2);
      margin: 80px 0 0 0;
      @media (max-width: $container_m) {
        margin: 50px 0 0 0;
      }
      @media (max-width: $container_m) {
        margin: 40px 0 0 0;
      }
      @media (max-width: $container_m) {
        margin: 30px 0 0 0;
      }
    }
  }

  .machinePark {
    @include section_shiftedTile(transparent, $color_text_on_main, $color_main, $color_2, $color_text_on_main);
  }

  .seeMore {
    padding: 110px 0;
    @media (max-width: $container_xxl) {
      padding: 70px 0;
    }
    @media (max-width: $container_l) {
      padding: 50px 0;
    }
    @media (max-width: $container_m) {
      padding: 40px 0;
    }
    @media (max-width: $container_s) {
      padding: 30px 0;
    }

    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .text {
      color: rgba($color_text_on_white, .8);
      font-family: $Silka-regular;
      font-size: 16px;
      margin: 0 0 58px 0;
      text-align: center;
      @media (max-width: $container_m) {
        font-size: 14px;
        margin: 0 0 25px 0;
      }
    }

    .arrow_btn_bg {
      @include arrow_btn_bg($color_text_on_main, $color_2, $color_main, $color_text_on_white);
    }
  }
}