@import "variables";
@import "extends";
@import "mixins";

.navigation {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  padding: 0 0 0 50px;
  align-items: center;
  @media (max-width: $container_xl) {

  }

  .navLogo {
    padding: 0;
    max-width: 170px;
    display: block;
    @media (max-width: $container_xl) {
      padding: 25px 0;
    }
  }

  .nav_burder {
    width: 27px;
    height: 19px;
    position: relative;
    display: none;
    margin: 0 20px 0 0;
    cursor: pointer;

    &.nav_burder_close {
      display: none;
      position: absolute;
      top: 40px;
      right: 40px;
      margin: 0;
      z-index: 65;

      span {
        &:first-child {
          transform: rotate(45deg);
          top: 9px;
        }

        &:nth-child(2) {
          display: none;
        }

        &:last-child {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }

      &.active {
        display: none;
      }

      @media (max-width: $container_xl_2) {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    &:hover {
      span {
        background-color: $color_2;
      }
    }

    @media (max-width: $container_xl_2) {
      display: block;
    }

    span {
      position: absolute;
      right: 0;
      height: 1px;
      background-color: #e3e3e3;

      &:first-child {
        width: 100%;
        top: 0;
      }

      &:nth-child(2) {
        width: 20px;
        top: 9px;
      }

      &:last-child {
        width: 100%;
        bottom: 0;
      }
    }
  }

  .navList {
    display: flex;
    align-items: center;

  }

  .navList_languages {
    @extend %navPage_item;
    @media (max-width: $container_xl_2) {
      display: flex;
      padding: 15px 0;
    }
  }

  .navList_pagesList {
    padding: 0;
    list-style: none;
    display: flex;

    @media (max-width: $container_xl_2) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color_main;
      flex-wrap: wrap;
      z-index: 60;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: none;
      &.active {
        display: flex !important;
      }
    }

    .page {
      @extend %navPage_item;
      @media (max-width: $container_xl_2) {
        display: flex;
        padding: 15px 0;
      }

      &.active {
        .page_link {
          border-color: $color_2;
        }
      }

    }

    .page_link {
      @extend %navPage_link;
    }
  }

  .nav_productList {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #fff;
    display: none;

    &.active {
      display: flex;
    }

  }

  .nav_product_list {
    padding: 35px 0 35px 45px;
    display: flex;
    flex-wrap: wrap;
  }

  .nav_product_item {
    margin: 8px 0;
    font-family: $Silka-bold;
    font-size: 20px;
    letter-spacing: -.6px;
    display: block;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: $color_2;
    }
  }

  .nav_productList_content {
    width: 775px;
    @media (max-width: $container_xl) {
      width: 650px;
    }
  }


  .nav_productList_title {
    padding: 45px 0px 45px 45px;
    font-family: $Silka-bold;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -.4px;
    border-bottom: 2px solid $color_text_2_on_white;
  }

  .nav_productList_img {
    width: 430px;
    position: relative;
    overflow: hidden;

    .nav_product_img_item {
      display: none;
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.active {
        display: block;
      }
    }
  }

  .getOrder {
    @extend %navPage_link;
    @extend %navPage_item;
    padding: 40px 0;
    margin: 0;
    background-color: $color_main;
    padding-right: 110px;
    padding-left: 65px;
    position: relative;
    border: none !important;
    @media (max-width: $container_xxl) {

    }
    @media (max-width: $container_xxl) {
      padding-right: 80px;
      padding-left: 45px;
    }
    @media (max-width: $container_xl_2) {
      font-size: 16px;
    }

    &:after {
      content: '';
      width: 80px;
      height: 1px;
      background-color: $color_2;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: $container_xl) {
        width: 50px;
      }
    }
  }
}