@import "variables";
@import "extends";
@import "mixins";


.productPage {
  .hero {
    @include subPage_hero();
  }

  .product_view {
    padding: 70px 0 20px 0;
    @media (max-width: $container_l) {
      display: none;
    }

    .container {
      display: flex;
      align-items: center;
    }

    .title {
      font-family: Silka-bold;
      font-size: 12px;
      letter-spacing: 0.08px;
      color: $color_text_on_white;
      text-transform: uppercase;
    }

    .product_view_list {
      width: 70px;
      display: flex;
      margin: 0 0 0 10px;
      justify-content: space-between;
    }

    .product_view_list_item {
      width: 26px;
      height: 26px;
      position: relative;
      cursor: pointer;

      &[data-view="tiles"] {
        span {
          width: 11px;
          height: 11px;
          position: absolute;
          border: 1px solid $color_text_on_white;
          transition: border-color ease-in-out .2s;

          &:first-child {
            top: 0;
            left: 0;
          }

          &:nth-child(2) {
            top: 0px;
            right: 0;
          }

          &:nth-child(3) {
            bottom: 0px;
            left: 0;
          }

          &:nth-child(4) {
            bottom: 0px;
            right: 0;
          }


        }

        &.active {
          span {
            border-color: $color_2;
          }
        }
      }

      &[data-view="list"] {
        span {
          width: 100%;
          position: absolute;
          height: 1px;
          background-color: $color_text_on_white;
          transition: background-color ease-in-out .2s;

          &:first-child {
            top: 0;
            left: 0;
          }

          &:nth-child(2) {
            top: 8px;
            left: 0;
          }

          &:nth-child(3) {
            top: 17px;
            left: 0;
          }

          &:nth-child(4) {
            top: 25px;
            left: 0;
          }

        }

        &.active {
          span {
            background-color: $color_2;
          }
        }
      }
    }
  }

  .product_list {
    @media (max-width: $container_l) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px 50px;
    }
    @media (max-width: $container_m) {
      margin: 30px 25px;
    }

    &[data-view="tiles"] {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: $container_xl;
      margin: 0 auto;
      @media (max-width: $container_xl) {
        width: 100%;
        padding: 0 50px;
      }
      @media (max-width: $container_m) {
        width: 100%;
        padding: 0 25px;
      }

      .product_item {
        margin: 25px 0;
        padding: 0;
        max-width: calc(50% - 25px);
        background-color: transparent;

        @media (max-width: $container_m) {
          margin: 15px auto;
          width: 100%;
          max-width: 360px;
        }

        &.reverse {
          .product_item_img {
            transform: scaleX(-1);
          }

        }

        .product_item_content {
          position: relative;
          transform: none;
          top: auto;
          left: auto;
          width: 100%;
          padding: 30px 0;

          .content {
            padding: 0 0px 0 25px;
          }
        }

        .product_item_name {
          margin: 0 0 20px 0;
          font-size: 24px;
        }

        .product_item_description {
          display: none;
        }

        .product_item_img {
          width: 100%;
        }


      }
    }

  }

  .product_item {
    position: relative;
    padding: 70px 0;
    transition: all ease-in-out .4s;
    @media (max-width: $container_xl) {
      padding: 50px 0;
    }
    @media (max-width: $container_l) {
      margin: 15px 0;
      padding: 0;
      max-width: calc(50% - 25px);
      background-color: $color_main;
    }
    @media (max-width: $container_m) {
      margin: 15px auto;
      width: 100%;
      max-width: 360px;
    }

    .product_item_content {
      background-color: $color_main;
      padding: 140px 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      transition: all ease-in-out .4s;
      @media (max-width: $container_xl) {
        padding: 80px 0;
      }
      @media (max-width: $container_l) {
        position: relative;
        transform: none;
        top: auto;
        left: auto;
        width: 100%;
        padding: 30px 0;

      }

      .content {
        width: $container_xl/2;
        padding: 0 120px 0 25px;
        transition: all ease-in-out .4s;
        @media (max-width: $container_xl) {
          padding: 0 50px 0 50px;
        }
        @media (max-width: $container_l) {
          padding: 0 40px 0 40px;
        }
        @media (max-width: $container_m) {
          padding: 0 0 0 25px;
        }
      }
    }

    .product_item_name {
      @include sectionTitle($color_text_on_main, left);
      margin: 0;
      @media (max-width: $container_l) {
        margin: 0 0 20px 0;
        font-size: 24px;
      }
      @media (max-width: $container_m) {

      }
    }

    .product_item_description {
      @include sectionText($color_text_on_main, left);
      margin: 45px 0 60px 0;
      @media (max-width: $container_l) {
        display: none;
      }
    }

    .product_item_link {
      @include arrow_btn($color_2, $color_text_on_main);
      margin: 0;
    }

    .product_item_img {
      margin: 0 0 0 auto;
      display: block;
      transition: all ease-in-out .4s;
      @media (max-width: $container_xl) {
        width: 80%;
      }
      @media (max-width: $container_l) {
        width: 100%;
      }
    }

    &.reverse {
      .product_item_content {
        left: auto;
        right: 0;
        justify-content: flex-start;

        .content {
          width: $container_xl/2;
          padding: 0 25px 0 120px;
          @media (max-width: $container_xl) {
            padding: 0 50px 0 50px;
          }
          @media (max-width: $container_l) {
            padding: 0 30px 0 30px;
          }
        }
      }

      .product_item_img {
        margin: 0;
        @media (max-width: $container_l) {
          transform: scaleX(-1);
        }
      }
    }

  }

  .simpleWithBtn {
    @include simpleWithBg($color_text_on_main);

    .text {
      color: lighten($color_text_on_white, 75%);
    }
  }
}