@import "variables";
@import "extends";
@import "mixins";

.singleProduct {
  .hero {
    @include subPage_hero();
    padding: 65px 0 120px 0;
    @media (max-width: $container_l_2) {
      flex-wrap: wrap;
      padding-bottom: 30px;
    }

    .row {
      max-width: 50%;
      @media (max-width: $container_xl) {
        max-width: 36%;
      }
      @media (max-width: $container_l_2) {
        max-width: 100%;
        margin: 0px 0 50px 0;
      }
    }

    .mainImg_desktop {
      left: auto;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      min-width: 0;
      min-height: 100%;
      @media (max-width: $container_l_2) {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
        right: auto;
        width: 100%;
        min-height: 0;
      }
    }

    .btn_back {
      width: 100%;
      font-family: $Silka-bold;
      font-size: 12px;
      line-height: 1em;
      letter-spacing: 0.08px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 0 0 30px;
      margin: 0px 0 80px 0;
      color: $color_text_on_white;
      z-index: 6;
      position: relative;
      transition: all ease-in-out .2s;
      @media (max-width: $container_xl) {
        margin: 0 0 50px 0;
      }
      @media (max-width: $container_l_2) {
        margin: 0 0 30px 0;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 1px;
        background-color: $color_text_on_white;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 10px;
        height: 10px;
        border: 1px solid $color_text_on_white;
        border-right: none;
        border-bottom: none;
      }

      &:hover {
        color: $color_2;

        &:before {
          background-color: $color_2;
        }

        &:after {
          border-color: $color_2;
        }
      }

    }

    .subTitle {
      width: 100%;
      padding: 0;
      margin: 0 0 37px 0;
      color: $color_text_on_white;
      @media (max-width: $container_l_2) {
        font-size: 22px;
        margin: 0 0 20px 0;
      }
      @media (max-width: $container_m) {
        font-size: 14px;
      }
    }

    .title {
      width: 100%;
      padding: 0;
      margin: 0 0 35px 0;
      color: $color_text_on_white;
      @media (max-width: $container_l_2) {
        font-size: 28px;
        margin: 0 0 15px 0;
      }
      @media (max-width: $container_m) {
        font-size: 24px;
      }
    }

    .description {
      width: 100%;
      padding: 0;
      margin: 0;
      color: lighten($color_text_on_white, 40);
      text-align: left;
      font-family: $Silka-regular;
      font-size: 16px;
      line-height: 1.8em;
      letter-spacing: -0.48px;
      opacity: 1;
      z-index: 6;
    }

    .mainImg-dark {
      display: none;
    }

    .leftBar {
      background-color: #fff;
      @media (max-width: $container_l_2) {
        display: none;
      }
    }
  }

  .singleProduct_nav {
    padding: 50px 0;
    @media (max-width: $container_l) {
      padding: 30px 0;
    }
    @media (max-width: $container_m) {
      display: none;
    }

    .row {
      display: flex;
    }

    .scroll_el {
      font-family: $Silka-bold;
      font-size: 17px;
      line-height: 1em;
      letter-spacing: .12px;
      color: $color_text_on_white;
      text-transform: uppercase;
      margin: 0 25px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .singleProduct_properties {
    padding: 100px 0;
    @media (max-width: $container_l) {
      padding: 40px 0;
    }

    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      li {
        width: 50%;
        padding: 70px 0;
        display: flex;
        @media (max-width: $container_l) {
          padding: 40px 0;
        }
        @media (max-width: $container_m) {
          width: 100%;
        }

        .icon {
          width: 85px;
          margin-right: 40px;
          @media (max-width: $container_l) {
            width: 65px;
          }
        }

        img {
          display: block;
          width: 100%;
        }

        p {
          max-width: 360px;
          width: calc(100% - 105px);
          font-family: $Silka-medium;
          letter-spacing: -.6px;
          font-size: 30px;
          line-height: 1.2em;
          color: $color_text_on_white;
          @media (max-width: $container_l) {
            max-width: none;
            font-size: 24px;
            width: calc(100% - 85px);
          }
        }
      }
    }

    .slider_nav {
      @include circle_btn($color_text_on_white, $color_text_on_main, $color_text_on_white);
      position: absolute;
      background: transparent;
      z-index: 10;
      width: 40px;
      height: 40px;
      cursor: pointer;

      &:after {
        right: 4px;
      }

      &:hover {
        background-color: $color_main;

        &:before {
          background-color: $color_2;
        }

        &:after {
          border-color: $color_2;
        }
      }
    }

    .slick-list {
      padding: 0 !important;
    }

    .slider_prev {
      left: 95px;
      top: 35px;
      transform: rotate(-180deg);
      @media (max-width: $container_m) {
        left: 30px;
        top: 30px;
      }
    }

    .slider_next {
      left: 145px;
      top: 35px;
      @media (max-width: $container_m) {
        left: 80px;
        top: 30px;
      }
    }

    .slider {
      //margin-left: calc((100% - 1320px) / 2);
      margin: 0 0 0 auto;
      width: calc((100% - 1320px) / 2 + 1320px);
      max-width: 100%;
      position: relative;


      .slide {
        max-width: $container_xl;
        margin-right: 50px;
        position: relative;
        @media (max-width: $container_m) {
          margin: 0;
        }

        img {
          width: 100%;
          display: block;
        }
      }

      .counter {
        text-align: center;
        font-family: $Silka-bold;
        font-size: 50px;
        line-height: 1em;
        letter-spacing: -1px;
        color: $color_text_on_white;
        opacity: 0.08;
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 20;
        @media (max-width: $container_m) {
          top: 20px;
          right: 20px;
          font-size: 35px;
        }
      }

      .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 55;

        .tooltip_hover {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: block;
          background-color: $color_text_on_main;
          transition: all ease-in-out .3s;
          @media (max-width: $container_l) {
            width: 30px;
            height: 30px;
          }

          span {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 1px;
            background-color: $color_text_on_white;
            transform: translate(-50%, -50%);

            &:last-child {
              transform: translate(-50%, -50%) rotate(-90deg);
            }
          }
        }

        .tooltip_content {
          position: absolute;
          right: 0;
          bottom: 100%;
          display: none;
          background-color: $color_text_on_main;
          padding: 30px;
          min-width: 340px;
          margin-bottom: 10px;
          z-index: 55;
          @media (max-width: $container_l) {
            min-width: 220px;
            padding: 15px;
          }

          .tooltip_content_title {
            color: $color_main;
            text-align: left;
            font-size: 20px;
            line-height: 1.1em;
            margin-bottom: 20px;
            font-family: $Silka-bold;
            letter-spacing: -0.4px;
            @media (max-width: $container_l) {
              font-size: 16px;
              margin-bottom: 5px;
            }

          }

          .tooltip_content_text {
            text-align: left;
            font-size: 14px;
            line-height: 1.4em;
            font-family: $Silka-regular;
            letter-spacing: -0.42px;
            color: $color_main;
            opacity: .6;
            @media (max-width: $container_l) {
              font-size: 12px;
              line-height: 1em;
            }

          }
        }

        &.active {
          .tooltip_hover {
            background-color: $color_main;
            transform: rotate(45deg);

            span {
              background-color: $color_2;
            }
          }


          .tooltip_content {
            display: block;
          }
        }
      }
    }
  }

  .technical_data {
    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .data_list {
      margin-bottom: 150px;
      @media (max-width: $container_l) {
        margin-bottom: 30px;
      }
      @media (max-width: $container_m) {
        margin-bottom: 50px;
      }
    }

    .data_list_el {
      display: flex;
      flex-wrap: wrap;
      padding: 35px 0;
      border-bottom: 2px solid lighten($color_text_on_white, 60);

      &:first-child {
        border-top: 2px solid lighten($color_text_on_white, 60);
      }

      .el_title {
        width: 50%;
        font-family: $Silka-bold;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: -0.48px;
        color: $color_text_on_white;
        opacity: 1;
        @media (max-width: $container_m) {
          text-align: center;
          width: 100%;
        }
      }

      .el_content {
        width: 50%;
        font-family: $Silka-regular;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: -0.48px;
        color: $color_text_on_white;
        opacity: .6;
        @media (max-width: $container_m) {
          text-align: center;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }

  .aboutProduct {
    @include section_shiftedTile(transparent, $color_text_on_main, $color_main, $color_2, $color_text_on_main);
  }

  .imgWithText {
    @include imgWithText();
  }

  .productDownloadMeterials {
    .title {
      @include sectionTitle($color_text_on_white, center);
    }

    .productDownloadMeterials_list {

    }

    .productDownloadMeterials_el {
      display: flex;
      align-content: center;
      justify-content: space-between;
      border-bottom: 2px solid lighten($color_text_on_white, 70);
      padding: 35px 5px;

      &:first-child {
        border-top: 2px solid lighten($color_text_on_white, 70);
      }
    }

    .left_content {

    }

    .right_content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .productDownloadMeterials_title {
      font-family: $Silka-bold;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: -0.48px;
      color: $color_text_on_white;
    }

    .type_icon {
      font-family: $Silka-regular;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: -.48px;
      color: lighten($color_text_on_white, 60);
      margin-right: 40px;
    }

    .download_arrow {
      @include download_btn(lighten($color_text_on_white, 60), $color_text_on_white);
    }
  }

  .simpleWithBtn {
    @include simpleWithBg($color_text_on_main);
  }
}