@import "variables";
@import "extends";
@import "mixins";

.servicesPage {
  .hero {
    @include subPage_hero();
  }

  .strokes {
    @include sectionWithShape();
  }

  .servicesTabs {
    .partImg {
      padding: 210px 0 195px 0;
      position: relative;
      @media (max-width: $container_l) {
        padding: 200px 0 0 0;

      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
      }
    }
    .listOnTile_img {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      display: none;

      &.active {
        display: block;
      }
    }
    .listOnTile {
      padding: 100px 110px;
      box-sizing: border-box;
      width: 60%;
      background-color: $color_main;
      display: block;
      position: relative;
      z-index: 2;
      list-style: none;
      @media (max-width: $container_xl) {
        padding: 50px;
      }
      @media (max-width: $container_m) {
        width: 100%;
        padding: 30px;
      }
      @media (max-width: $container_s) {

      }



      .listOnTile_item {
        color: $color_text_on_main;
        letter-spacing: -.9px;
        font-family: $Silka-bold;
        width: calc(100% - 60px);
        position: relative;
        font-size: 30px;
        line-height: 2em;
        margin: 17px 0;
        cursor: pointer;
        @media (max-width: $container_xl) {
          margin: 10px;
          font-size: 24px;
        }
        @media (max-width: $container_m) {
          font-size: 20px;
          margin: 10px 0;
        }

        .circleBtn {
          @include circle_btn($color_text_on_main, $color_main, $color_2);
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%) rotate(-180deg);
          display: none;
        }

        &.active {
          color: $color_2;

          .circleBtn {
            display: block;
          }
        }

      }
    }

    .serviceTitle {
      position: absolute;
      left: 15px;
      bottom: -195px;
      z-index: 1;
      background-color: $color_text_on_main;
      padding: 120px 120px 0 120px;
      width: 70%;
      @media (max-width: $container_xl) {
        width: 100%;
        padding: 50px;
        left: 0;
      }
      @media (max-width: $container_l) {
        padding: 50px;
        position: relative;
        left: auto;
        bottom: auto;
        margin: -60px -50px -1px -50px;
        width: calc(100% + 100px);
      }
      @media (max-width: $container_m) {
        margin: -150px -50px -1px -50px;
        padding: 180px 50px 0 50px;
      }

      .title {
        font-family: $Silka-bold;
        font-size: 50px;
        line-height: 54px;
        margin: 45px 0 0 0;
        @media (max-width: $container_xl) {
          font-size: 44px;
        }
        @media (max-width: $container_l) {
          font-size: 40px;
          margin: 35px 0 0 0;
        }
        @media (max-width: $container_m) {
          font-size: 35px;
          margin: 25px 0 0 0;
        }
        @media (max-width: $container_s) {
          font-size: 28px;
          margin: 0;
        }
      }
    }

    .serviceTit_item {
      display: none;

      &.active {
        display: block;
      }
    }

    .serviceTit_icon {
      @media (max-width: $container_m) {
        display: none;
      }
    }

    .serviceContent {
      display: none;
      width: 70%;
      padding: 0 120px;
      @media (max-width: $container_xl) {
        width: 100%;
        padding: 0;
      }

      h4 {
        font-size: 30px;
        line-height: 1.1em;
        color: $color_main;
        font-family: $Silka-bold;
        text-align: left;
        margin: 50px 0;
        @media (max-width: $container_xl) {
          font-size: 46px;
        }
        @media (max-width: $container_l) {
          font-size: 28px;
          margin: 30px 0;
        }
        @media (max-width: $container_m) {
          font-size: 24px;
          letter-spacing: -1.12px;
        }
        @media (max-width: $container_s) {
          font-size: 18px;
          br {
            display: none;
          }
        }
      }

      p {
        @include sectionText($color_text_on_white, left);
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          @include sectionText($color_text_on_white, left);
          position: relative;
          padding: 0 0 0 30px;
          margin: 15px 0;

          .check_icon {
            position: absolute;
            width: 27px;
            height: 17px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            &:before {
              content: '';
              width: 8px;
              height: 1px;
              background-color: $color_text_on_white;
              position: absolute;
              top: 10px;
              left: 2px;
              transform: rotate(45deg);
            }

            &:after {
              content: '';
              width: 15px;
              height: 1px;
              background-color: $color_text_on_white;
              position: absolute;
              top: 9px;
              left: 8px;
              transform: rotate(-35deg);
            }
          }
        }
      }

      &.active {
        display: block;
      }
    }
  }

  .imgWithText {
    @include imgWithText();
  }

  .simpleWithBtn {
    @include simpleWithBg($color_text_on_main);
  }
}